* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --primary-color: #ffffec;
    --secondary-color: #84b6f4;
    --tertiary-color: #ebf3a0;
    --font-family-primary: "Concert One", sans-serif; /* Corrigido */
    --font-size-primary: 30px;
    --font-size-secondary: 20px;
}

.corpo {
    background-color: var(--primary-color);
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}
.corpo::-webkit-scrollbar {
    width: 12px;
}

.corpo::-webkit-scrollbar-track {
    background: var(--tertiary-color);
    border-radius: 10px;
}

.corpo::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

.corpo::-webkit-scrollbar-thumb:hover {
    background: #6a8cd0;
}

.cabecalho {
    display: flex;            
    justify-content: space-between;  
    align-items: center;     
    padding: 10px;            
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    margin-right: 0;
}

.icon-menu {
    width: 50px; /* Definir a largura da div */
    height: 50px; /* Definir a altura da div */
    background-image: url('/media/icons/menu.png');
    background-size: contain; /* Ajusta o tamanho da imagem ao conteúdo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem dentro da div */
}

.icon-home {
    width: 50px; /* Definir a largura da div */
    height: 50px; /* Definir a altura da div */
    background-image: url('/media/icons/home.png');
    background-size: contain; /* Ajusta o tamanho da imagem ao conteúdo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem dentro da div */
}

.nome-central {
    margin: 0 auto;         
    text-align: center;   
    font-family: var(--font-family-primary); 
    font-size: var(--font-size-primary);  
}

.item-lateral {
    text-align: right;      
    font-family: var(--font-family-primary); 
    font-size: var(--font-size-primary);
}

.controle-inicio {
    width: 100%;
    height: 750px;
    margin-top: 5px;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.inicio {
    width: 900px;
    height: 700px;
    background-color: var(--tertiary-color);
    margin-top: 0;
    margin-right: 0;
    overflow-x: auto;
    margin-left: 10px;
    border-radius: 5px;
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; /* Adicionando espaçamento interno */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
    border: 1px solid black;
}

.inicio::-webkit-scrollbar {
    width: 12px;
}

.inicio::-webkit-scrollbar-track {
    background: var(--tertiary-color);
    border-radius: 10px;
}

.inicio::-webkit-scrollbar-thumb {
    background: #84b6f4;
    border-radius: 10px;
}

.inicio::-webkit-scrollbar-thumb:hover {
    background: #6a8cd0;
}

.inicio {
    scrollbar-width: thin;
    scrollbar-color: #84b6f4 var(--tertiary-color);
}

.guia-inicio-libras {
    width: 750px;
    height: 350px;
    margin-top: 10px;
    margin-left: 50px;
}

.guia-inicio-portugues {
    width: 750px;
    height: 350px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    overflow-x: auto;
}

.guia-inicio-portugues::-webkit-scrollbar {
    width: 20px;
}

.guia-inicio-portugues::-webkit-scrollbar-track {
    background: var(--tertiary-color);
   
}

.guia-inicio-portugues::-webkit-scrollbar-thumb {
    background: #84b6f4;
   
}

.guia-inicio-portugues::-webkit-scrollbar-thumb:hover {
    background: #6a8cd0;
}

.guia-inicio-portugues {
    scrollbar-width: thin;
    scrollbar-color: #84b6f4 var(--tertiary-color);
}

.texto-lateral-inicio {
    background-color: var(--tertiary-color);
    width: 300px;
    height: 700px;
    margin-left: auto;
    margin-right: 15px;
}

.itens {
    height: 700px;
    width: 1000px;
    background-color: var(--tertiary-color);
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
}

.item{
    height: 180px;
    width: 150px;
    background-color: red;
    margin-top: 15px;
    margin-left:30px;
}
.cabecalho-inferior {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    margin-right: 0;
    margin-top: 50px;
}
.linha-1{
    width: 95%;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
}
.linha-2{
    width: 80%;
    height: 5px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 5px;
    
}

/* PARTE ESPECIFICA DO SINAL.HTML*/

.opcaoselecionada {
    margin-left: 30px;
    margin-top: 50px;
    max-width: 800px; /* Usando max-width */
    width: 100%; /* Para que se ajuste em telas menores */
    height: 550px; /* Pode ser ajustado para melhor responsividade */
    background-color: var(--tertiary-color);
    border: 1px solid black;
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; /* Adicionando espaçamento interno */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
}
.opcaoselecionada video{
    width: 100%; /* O vídeo ocupará 100% da largura da div mãe */
    height: 100%; /* Mantém a proporção do vídeo */
    border-radius: 8px;
}

.text-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;
    max-height: 400px; /* Limita a altura */
    overflow-y: auto;  /* Adiciona rolagem caso o texto seja muito longo */
    word-wrap: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word;
}
.botoes-laterais{
    width: 300px;
    height:550px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 50px;
}
.botaoopcao{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 10px; /* Adicionando espaçamento interno */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
    border: 1px solid black;
}
.div-texto-opcao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.texto-opcao {
    font-size: var(--font-size-secondary);
    color: var(--primary-color);
    margin: 0 auto;
    
}
.link{
    text-decoration: none;
}