{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossario Libras</title>
    <link rel="stylesheet" href={% static "styles.css" %}>
</head>
<body class = "corpo">
    <header class="cabecalho"></header>
    <div class = "controle-inicio">
        <div class="inicio">
            <div class="guia-inicio-libras"><p>aqui vai o video descrevendo o guia portugues</p></div>
            <div class="guia-inicio-portugues"><p>aqui vai o guia em portugues</p></div>
        </div>
        <div class="texto-lateral-inicio"></div>
    </div>
    <div class="linha-2"></div>
    <div class="linha-1"></div>
    <div class="linha-2"></div>
    <div class="itens">
    </div>

    <footer class="cabecalho-inferior"></footer>
</body>
</html>